<footer>
	<div class="footer-box">
		<div class="desc-footer-container">
			<div class="desc-middle-container">
				<div class="footer-top-section">
					<div class="footer-section-left">
						<ul class="support-feedback">
							<li>
								<a id="btn-support" href="http://kr.battle.net/support/" class="footer-section-left">
									<i class="fa fa-question-circle-o"></i>
									고객지원
								</a>
							</li>
							<li>
								<a id="btn-support" href="http://kr.battle.net/support/" class="footer-section-left">
									<i class="fa fa-pencil-square-o"></i>
									의견 보내기
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-section-right">
						<div class="language-select">
							<a id="language-select-pop">
								아시아 - 한국어
								<i class="fa fa-globe"></i>
								<i class="fa fa-sort-desc"></i>
							</a>
							<ul class="sort-down-pop">
								<li>
									<div class="language-select-section">
										<ul class="regions">
											<div class="menu-title">지역</div>
											<li class="us"><a>미국</a></li>
											<li class="eu"><a>유럽</a></li>
											<li class="asia"><a>아시아</a></li>
											<li class="china"><a>중국</a></li>
										</ul>
										<ul class="regions-styles">
											<div class="regions-language">
												<div class="menu-title">언어</div>
											</div>
											<div class="regions-language">
												<div class="menu-title">언어</div>
											</div>
											<div class="regions-language">
												<div class="menu-title">언어</div>
											</div>
											<div class="regions-language">
												<div class="menu-title">언어</div>
											</div>
										</ul>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="language-change">
										<a>변경</a>
									</div>
								</li>
								<div class="arrow-down"></div>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-inner-section">
					<div class="company-details">
						<div id="company-link">
							<a href="http://kr.blizzard.com">
								<div class="blizzard-logo"></div>
							</a>
						</div>
						<div class="company-info">
							<div class="company-links">
								<ul>
									<li>인재 채용</li>
									<li>회사 소개</li>
									<li class="privacy">개인정보 처리방침</li>
									<li>법률관련 문서</li>
									<li>APT</li>
								</ul>
							</div>
							<div class="company-copyright">©2017 Blizzard Entertainment, Inc. 모든 권리는 Blizzard Entertainment에 있습니다. </div>
						</div>
					</div>
					<div class="company-contact">
						블리자드 엔터테인먼트 유한 회사<br>
						주소: 06069 서울시 강남구 학동로 401 금하빌딩 2층<br>
						대표 번호: 1644-0727 | 팩스 번호 : (02)544-3038 | 이메일:
						<a href="http://kr.battlenet/support/ko/">websupport@blizzard.co.kr</a><br>
						사업자 등록 번호: 211-87-49910 | 통신 판매업 신고 번호: 강남-6017호 |<a>사업자정보확인</a><br>
						대표이사: 마이클 모하임, 마이클 퐁 | 개인정보 보호책임자: 전동진 Operation팀/Operation담당이사
					</div>
					<div class="ratings">
						<div class="rating-wrapper">
							<div class="rating"><a href="http://grb.or.kr/"></a></div>
							<div class="violence"></div>
							<div class="banner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>

<script src="js/vendor/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
